# билды
build/
target/

# IDEA
.idea/
*.iml
out/
.gigaide/

# Сгенерированные файлы и временные директории
generated/
tmp/

# Логи
*.log

# Классы и бинарные файлы
*.class

# Lock-файлы и кеши
*.lock

/src/main/resources/application-local.yml